body {
    font-family: Inter;
    width: 600px;
    height: 1407px;
}

/* --------------------------- HEADER --------------------------- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Work Sans;
    padding: 0rem 1rem 0rem 1rem;
}

header img {
    width: 24px;
    height: 24px;
}

/* --------------------------- MAIN --------------------------- */

#main-content button {
    font-family: Public Sans;
}

#main-content select {
    font-family: Public Sans;
}

#search-container,
#select-ingredient-container,
#filter-container {
    background-color: #F7F9FB;
}

/* --------------------------- SEARCH CONTAINER --------------------------- */

#search-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#search-input {
    width: 540px;
    height: 56px;
    background-image: url('assets/search_icon.png');
    background-repeat: no-repeat;
    background-position: 8px center;
    border: none;
}

/* --------------------------- SELECT INGREDIENT CONTAINER --------------------------- */



/* --------------------------- FILTER CONTAINER  --------------------------- */

/* Själva containern */
#filter-container {
    padding: 0.5rem;
    height: 183px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#divider {
    background-color: red;
    width: 90%;
    height: 1px;
    margin: 1rem;
    align-self: center;
}

/* Headers */
#filter-container h2 {
    font-size: 18px;
    font-weight: normal;
}

.filter-container-div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* Unchosen pill & select dropdown appearance */
.pill,
.meat-dropdown,
.fish-dropdown {
    height: 30px;
    background-color: #BDDBF9;
    /* bakgrundsfärgen ska ändras när man trycker på pill-knappar */
    border: none;
    border-radius: 0.5rem;
    font-family: Public Sans;
    font-size: 16px;
    padding: 0 0.5rem 0 0.5rem;
}

.allergies-dropdown {
    height: 30px;
    background-color: #BDDBF9;
    /*#BA5B5B*/
    border: none;
    border-radius: 0.5rem;
}

/* ------------------------- SORTING CONTAINER ------------------------- */
#sorting-container {
    display: flex;
    flex-direction: column;
}

#sorting-container-first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sorting-container-second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ------------------------- RECIPE CONTAINER ------------------- */

.recipe-container article {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 6px;
}

.recipe-first-block {
    display: flex;
    flex-direction: row;
}

.recipe-second-row h2,
.recipe-third-row p,
.knife-and-fork-style-filter p,
.knife-and-fork-style-modify p,
.recipe-fourth-row p,
.recipe-fifth-row p {
    margin: 0px;
    padding: 0px;
}

.knife-and-fork-style-filter {
    position: relative;
    left: 45px;
    top: -10px;
}

.knife-and-fork-style-modify {
    gap: 0.5rem;
    top: -10px;
}

.taco-recipe .knife-and-fork-style-modify {
    position: relative;
    left: 15px;
}

.sweet-potato-recipe .knife-and-fork-style-modify {
    position: relative;
    left: 20px;
}

.beet-recipe .knife-and-fork-style-modify {
    position: relative;
    left: 40px;
}


.knife-and-fork-style-modify p {
    background-color: #F7F9FB;
    border-radius: 6px;
    padding: 0.3rem 1rem 0.3rem 1rem;
    text-align: center;
}

.recipe-first-block-text {
    display: flex;
    flex-direction: column;
}

.knife-and-fork-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.knife-and-fork-style-filter,
.knife-and-fork-style-modify {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.knife-and-fork-style-filter p {
    margin-right: 1rem;
}

.recipe-second-row {
    margin-left: 1rem;
}

.recipe-third-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.recipe-fourth-row {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.recipe-fourth-row-warm {
    width: 15px;
    height: 22px;

}

.recipe-fifth-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.recipe-fifth-row button {
    width: 156px;
    height: 30px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #545F73;
    color: white;
    border: none;
}

.knife-and-fork {
    width: 16px;
    height: 16px;
}

.arrow {
    height: 30px;
    width: 30px;
}

.warm {
    height: 22px;
    width: 15px;
}

.allergy {
    border: 1px solid #9B3736CC;
    border-radius: 6px;
}

.cold {
    width: 24px;
    height: 24px;
}