#select-ingredient-container {
    display: none;
}

body {
    font-family: Inter;
    width: 600px;
    height: 1407px;
}

/* --------------------------- HEADER --------------------------- */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Work Sans;
    padding: 0rem 1rem 0rem 1rem;
}

header img {
    width: 24px;
    height: 24px;
}

/* --------------------------- MAIN --------------------------- */

#main-content button {
    font-family: Public Sans;
}

#main-content select {
    font-family: Public Sans;
}

#search-container,
#select-ingredient-container,
#filter-container {
    background-color: #F7F9FB;
}

/* --------------------------- SEARCH CONTAINER --------------------------- */

#search-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#search-input {
    width: 540px;
    height: 56px;
    background-image: url('assets/search_icon.png');
    background-repeat: no-repeat;
    background-position: 8px center;
    border: none;
}

#search-input:focus {
    background-image: none;
    padding-left: 12px;
    font-family: Inter;
}

/* --------------------------- SELECT INGREDIENT CONTAINER --------------------------- */

.selected-pill {
    height: 30px;
    background-color: #3C4C5D;
    border: none;
    border-radius: 0.5rem;
    font-family: Public Sans;
    font-size: 16px;
    padding: 0 0.5rem 0 0.5rem;
    color: #FFFFFF;
    margin: 0 0.5rem 0.5rem 0;
}

.unselected-pill {
    height: 30px;
    background-color: #BA5B5B;
    border: none;
    border-radius: 0.5rem;
    font-family: Public Sans;
    font-size: 16px;
    padding: 0 0.5rem 0 0.5rem;
    color: #FFFFFF;
}

#dashed-divider {
    width: 90%;
    border: none;
    border-top: 2px dashed #E3E7EB;
    margin: 1rem;
    align-self: center;
}

#full-divider {
    width: 90%;
    border: 1px solid #E3E7EB;
    margin: 1rem 1rem 0rem 1rem;
    align-self: center;
}

.cross {
    width: 9px;
    height: 9px;
    padding-left: 0.5rem;
}

/* --------------------------- FILTER CONTAINER  --------------------------- */

/* Whole container */
#filter-container {
    padding: 0.5rem;
    height: 183px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Headers */
#filter-container h2 {
    font-size: 18px;
    font-weight: normal;
}

.filter-container-div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

/* Unchosen pill & select dropdown appearance */
.pill,
.dropdown {
    height: 30px;
    background-color: #BDDBF9;
    border: none;
    border-radius: 0.5rem;
    font-family: Public Sans;
    font-size: 16px;
    padding: 0 0.5rem 0 0.5rem;
}

.pill:hover {
    background-color: #3C4C5D;
    color: white;
}

.dropdown:hover {
    background-color: #3C4C5D;
    color: white;
}

/* ------------------------- SORTING CONTAINER ------------------------- */
#sorting-container {
    display: grid;
    grid-template-columns: 1fr auto;
}

#sort-element {
    margin-bottom: -1rem;
}

#recipe-count {
    font-size: 30px;
    font-weight: 600;
    font-style: bold;
}

.sorting-options {
    display: flex;
    align-items: center;
}


.sorting-options select {
    width: 280px;
    height: 44px;
    border: none;
    font-weight: 120;
    font-size: 16px;
    box-shadow: 0px 2px 5px grey;
    border-radius: 6px;
}

/* ------------------------- RECIPE CONTAINER ------------------- */
.taco-recipe,
.sweet-potato-recipe,
.beet-recipe {
    margin-bottom: 1rem;
    box-shadow: 0px 2px 5px grey;
}

.recipe-container article {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 6px;
}

.recipe-first-block {
    display: flex;
    flex-direction: row;
}

.recipe-second-row h2,
.recipe-third-row p,
.knife-and-fork-style-filter p,
.knife-and-fork-style-modify p,
.recipe-fourth-row p,
.recipe-fifth-row p {
    margin: 0px;
    padding: 0px;
}

.knife-and-fork-style-filter {
    display: flex;
    align-items: center;
}

.knife-and-fork-style-modify p {
    background-color: #F7F9FB;
    border-radius: 6px;
    padding: 0.3rem 1rem 0.3rem 1rem;
    text-align: center;
}

.recipe-first-block-text {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.knife-and-fork-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -0.5rem;
}

.knife-and-fork-style-modify {
    display: flex;
    align-items: center;
}

.knife-and-fork-style-filter {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.knife-and-fork-style-filter p {
    margin-right: 1rem;
}

.recipe-second-row {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.recipe-third-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.allergy {
    border: 2px solid #9B3736CC;
    border-radius: 6px;
    padding: 20px;
}

.recipe-fourth-row {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.recipe-fifth-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.draft {
    width: 156px;
    height: 30px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #545F73;
    color: white;
    border: none;
}

.draft:hover {
    box-shadow: 0px 2px 5px grey;
}

/* ------------------------- RECIPE CONTAINER IMAGES ------------------- */

.knife-and-fork {
    width: 16px;
    height: 16px;
}

.arrow {
    height: 30px;
    width: 30px;
}

.warm {
    height: 22px;
    width: 15px;
}

.cold {
    width: 24px;
    height: 24px;
}